services:
    scaleway_s3_client:
        class: 'AsyncAws\S3\S3Client'
        arguments:
            -   endpoint: '%env(SCALEWAY_ENDPOINT)%'
                accessKeyId: '%env(SCALEWAY_S3_ID)%'
                accessKeySecret: '%env(SCALEWAY_S3_SECRET)%'
                pathStyleEndpoint: '%env(bool:SCALEWAY_S3_USE_PATH_STYLE_ENDPOINT)%'
flysystem:
    storages:
        scaleway.s3.storage:
            adapter: 'asyncaws'
            options:
                client: 'scaleway_s3_client'
                bucket: '%env(SCALEWAY_S3_BUCKET)%'
            public_url:
                - '%env(SCALEWAY_S3_PUBLIC_URL)%'
