{% extends 'layouts/main.html.twig' %}
{% block title %}Gin Ranking{% endblock %}
{% block content %}
    <div class="page-heading">
        <h3>Gin Ranking</h3>
    </div>
    <div class="page-content">
        Perhaps this app comings soon... or not
    </div>
{% endblock %}
