<h1>{{ 'security.reset_password.email.template.title'|trans }}</h1>

<p>
    {{ 'security.reset_password.email.template.main_sentence'|trans|raw }}
</p>

<a href="#" class="btn btn-lg btn-dark">{{ 'security.reset_password.email.template.button'|trans }}</a>
