{% extends 'layouts/main.html.twig' %}
{% block title %}DMC Finder{% endblock %}
{% block content %}
    <div class="page-heading">
        <h3>DMC Finder</h3>
    </div>
    <div class="page-content d-sm-flex align-items-center justify-content-sm-center">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <twig:DmcFinder:RgbFinder/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
