{% extends 'layouts/main.html.twig' %}
{% block title %}
    {{ 'dmc_finder.title'|trans }}
{% endblock %}

{% block heading %}
    <h1>{{ 'dmc_finder.title'|trans }}</h1>
{% endblock %}

{% block content %}
    <div class="page-content row">
        <div class="card col-md-9 col-lg-5 mx-auto">
            <div class="card-content">
                <div class="card-body">
                    <twig:DmcFinder:RgbFinder/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
