name: Build & Deploy (Manually)
run-name: Build and deploy ${{ github.ref_name }} on ${{ inputs.environment }}

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        description: Environment to build and publish
        default: prod
        type: environment

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  git-ref-check:
    name: Check git ref type
    runs-on: ubuntu-latest
    steps:
      - if: github.ref_type != 'tag'
        run: |
          echo "Deploy forbidden from branch"
          exit 1

  # Useful for the architecture of infrastructure with docker rollout
  remove-v-from-tag:
    name: Remove 'v' prefix from tag (useful when redeploy prod tag manually)
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.remove-v-from-tag.outputs.tag }}
    steps:
      - id: remove-v-from-tag
        run: |
          if [[ "${{ github.ref_name }}" == v* ]]; then
             echo "tag=${GITHUB_REF_NAME:1}" >> $GITHUB_OUTPUT
          else
              echo "tag=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          fi

  build-deploy:
    name: Build and Deploy
    needs: [ git-ref-check, remove-v-from-tag ]
    if: ${{ success() }}
    secrets: inherit
    uses: ./.github/workflows/reusable-deploy.yaml
    with:
      tag: ${{ needs.remove-v-from-tag.outputs.tag_name }}
      environment: ${{ inputs.environment }}
